@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #fff; */
}
.Bgcolor{
    background-color: #0a0a0ade;

}

.textbox{
    display: block;
}