@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: #393053;
font-family: 'Lato', sans-serif;
}
.container{
    width: 800px;
    height: 520px;
    margin: 2rem auto;
    background-color: #635985;
}

.txtFormat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10rem;
    padding: 1rem 2rem;
    background-color: #ddd;
}
.txtFormat div i{
    cursor: pointer;
    padding: 0.5rem;
    color: #fff;
    background-color: #393053;
}
.txtArea{
    margin-top: 2.5rem;
padding: 1rem;
}
#txt{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 320px;
    resize: none;
    border: nono;
    outline: none;
    border-radius: 0.5rem;
}

#footerTxt{
    text-align: center;
    color: #ddd;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}



/* responsive  */
@media screen and (max-width:576px){
    .container{
        width: 100%;
    }
 .txtFormat{
    width: 100%;
    gap: 1.5rem;
 }

 #txt{
    width: 100%;
 }

 #footerTxt{
    margin-top: 2rem;
    margin-bottom: 0;
 }
}